#nome{
	border:1px solid;
	height:300px;
	
}

#studio{
	border:1px solid;
	height:300px;
}

#lavoro{
	border:1px solid;
	height:300px;
}

#formazione{
	border:1px solid;
	height:300px;
}

#corso{
	border:1px solid;
	height:300px;
}

.blocco{
	position:absolute;
	top:30px;
	left:70px;
}

.collegamento{
	position:absolute;
	bottom:150px;
	left:70px;
}

.col-xs-4:hover{background:#80ffff};

.testo{
	position:absolute;
	left:20px;
	top:50px;
}

.radio{
	position:absolute;
	bottom:150px;
}
