body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../img/header.jpg);
    background-repeat: repeat-x; 
}

header img{
    height: 150px;
    width: 965px;
    position: relative;
}

.headerbar{
    margin: 0;
    height: 30px;
    width: auto;
    background-color: #E5E5E5;
}

h1{
    margin: 0;
    padding: 0;
    font-size: 25px;
    white-space: nowrap;
    color: lightslategray;
}

footer {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7d7e7d+5,0e0e0e+100 */
    background: #7d7e7d; /* Old browsers */
    background: -moz-linear-gradient(top, #7d7e7d 5%, #0e0e0e 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #7d7e7d 5%,#0e0e0e 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #7d7e7d 5%,#0e0e0e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */
    margin: 0;
    padding: 0;
    color: #7B7B7B;
    width: 100%;   
}

p {
    margin: 0;
    white-space: nowrap;
    text-decoration: none;
}

.row {
    height: 300px;
}

#anagrafica {
    background-color: crimson;
    
}

#corsisti {
    background-color: darkorange;
}

#selezione {
    background-color: lightyellow;
}
